/*
Style Name: Site Build 
Description: Industry Night Website
Author: Zakia Sultana. 
Version: 1.0
Tags: Let's Build Something!
*/

/* ___________________________________________

       CSS stylesheet
___________________________________________ */

/* __________________________________________
    01. CSS variables
    02. CSS general styles
    03. Header styles
    03-a. Logo styles
    03-b. Hamburger button styles
    03-c. Navigation styles
    03-d. fanshawe link style
    03-e. @media queries
    03-f. menu hover effect
    04. Hero section styles
    05. Event section styles
    05-a. vertical line styles
    05-b. horizontal line styles
    05-c. video style
    06. Client section styles
    07. Testimonials section styles
    07-a. slider styles
    08. program section styles
    08-a. program text styles
    09. Creator section styles
    09-a. creator card styles
    09-b. creator text style
    10. portfolios style
    11. footer style

    **********Portfolio page***************

    01. portfolio style
    02. portfolio button style
    03. portfolio student list
___________________________________________
*/

/* 01. CSS variables */

:root {
    --red-color: #e2231a;
    --dark-red-color: #b3272d;
    --gray-color: #646469;
    --dark-gray-color: #231F20;
    --gotham-font: 'Gotham', sans-serif;
}

/* 02. CSS general styles */

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    font-family: var(--gotham-font);
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: #f9f9f9;
    color: var(--dark-gray-color);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* 03. Header styles */

header {
    background-color: var(--red-color);
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* 03-a. Logo styles */

.logo object {
    height: 40px;
    width: auto;
    margin: 10px 0;
    padding-left: 10px;
}

/* 03-b. Hamburger button styles */

#menu-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.menuIcon {
    height: 30px;
    width: auto;
}

.hamburger {
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

/* 03-c. Navigation styles */

.menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    z-index: 99;
    background-color: var(--red-color);
}

.menu li {
    margin: 0 15px;
    padding: 15px 0px;
}

.menu-item {
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: larger;
    transition: all 0.3s ease;
}

.showMenu {
    transform: translateY(0);
    padding-top: 4rem;
}

/* 03-d. fanshawe link style */

.fanshawe {
    display: none;
}

/* 03-e. @media queries */

@media screen and (min-width: 64em) {

    .menu {
        list-style: none;
        display: flex;
        margin-top: 30px;
    }

    #menu-btn {
        display: none;
    }

    .nav-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
    }

    .fanshawe {
        display: inline-block;
        height: 40px;
        width: auto;
        padding-top: 20px;
        padding-right: 100px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: larger;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        right: 0;
    }

}

/* 03-f. menu hover effect */

.menu li > .menu-item {
  position: relative;
  overflow: hidden;
}

.menu li > .menu-item::before,
.menu li > .menu-item::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: white;
  transition: all 0.5s;
}

.menu li > .menu-item::before {
  top: 0;
  left: 0;
}

.menu li > .menu-item::after {
  bottom: 0;
  right: 0;
}

.menu li > .menu-item:hover::before {
  width: 100%;
  transition: width 0.25s ease-in-out;
}

.menu li > .menu-item:hover::after {
  width: 100%;
  transition: width 0.25s ease-in-out 0.25s;
}

/* 04. Hero section styles  */

#hero {
    padding: 50px 20px;
    background-color: white;
    text-align: center;
    background-image: url(../images/Pattern-grey-on-white.jpg);
    background-size: cover;
    background-position: center;
}

#hero h2 {
    font-size: 3.5em;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 4px;
    color: transparent;
    -webkit-text-stroke: 2px var(--dark-red-color);
    text-shadow: 2px 2px 4px rgba(230, 229, 229, 0.1);
}

#hero p {
    font-size: 1.25em;
    margin-bottom: 20px;
    color: var(--gray-color);
}

#hero span {
    font-weight: bold;
}

.highlight {
    color: var(--red-color);
    font-size: 3em;
    text-transform: uppercase;
}

/* 05. Event section styles */

#event {
    padding: 20px;
    background-color: var(--dark-gray-color);
    text-align: center;
}

#event video {
    width: 220em;
    height: 25em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.event-details {
    color: white;
    text-align: left;
    margin-top: 20px;
}

.event-details div {
    margin-bottom: 20px;
    display: flex;
    align-items: self-start;
    flex-direction: column;
    font-size: 1.25em;
}

.event-details img {
    height: 24px;
    width: auto;
    vertical-align: middle;
    margin-right: 10px;
}

.event-details h2 {
    padding-left: 40px;
    margin-bottom: 20px;
    margin-top: -10px;
    text-transform: uppercase;
    color: white;
    position: absolute;
}

.event-details h3 {
    color: var(--red-color);
    margin-top: 10px;
    font-size: 0.8em;
    padding-left: 40px;
}

.event-details p {
    color: white;
    margin: 5px 0 0 40px;
    font-size: 0.4em;
    font-weight: lighter;
}

.save-the-date {
    background-image: url('../images/bar-lg-red.svg');
    background-blend-mode: color;
    background-size: cover;
    background-position: center;
    width: 250px;
    padding: 5px;
    margin-top: 32px;
}

.save-the-date p {
    font-size: 0.7em;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    margin: 0;
    padding-left: 10px;
}

/* 05-a. vertical line styles */

.vertical-line {
    border-left: 2px solid var(--dark-red-color);
    width: 250px;
    margin: 10px 0px;
}

/* 05-b. horizontal line styles */

.horizontal-line {
    border: none;
    border-top: 10px solid var(--dark-red-color);
}

/* 05-c. video style */

video{
    margin-top: -70px;
}

#player-container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.video-controls.hidden {
    display: none;
}

.video-controls {
    position: relative;
    right: 0;
    left: 0;
    bottom: 90px;
    padding: 20px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.5));
    display: flex;
    transition: all 0.2s ease-in-out;
}

.video-controls.hide{
    opacity: 0;
    pointer-events: none;
}

button {
    padding: 0;
    border: 0;
    background-color: transparent;
}

.fa, .fa-solid {
    color: var(--dark-red-color);
    font-size: 28px;
    margin-left: 20px;
}

.fa-volume-up {
    margin-left: auto;
}
/*********** Baseline, reset styles ***********/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 5rem;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: var(--dark-gray-color);
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -4px; /* Centers thumb on the track */
  background-color: var(--red-color);
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline: 3px solid var(--dark-gray-color);
  outline-offset: 0.125rem;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: var(--dark-red-color);
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  background-color: var(--dark-red-color);
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
}

input[type="range"]:focus::-moz-range-thumb{
  outline: 3px solid var(--dark-red-color);
  outline-offset: 0.125rem;
}

/* 06. Client section styles */

#client {
    padding: 50px 20px;
    background-color: var(--red-color);
    color: white;
    text-align: left;
}

#client h2 {
    font-size: 2.3em;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

#client p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: white;
}

#client img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* 07. Testimonials section styles */

#testimonials {
    padding: 50px 20px;
    background-color: white;
    text-align: center;
}

#testimonials h2 {
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 2px;
    margin-bottom: 10px;
    color: var(--dark-red-color);
}

#testimonials p {
    font-size: 1.7em;
    margin-bottom: 30px;
    color: var(--dark-gray-color);
    text-transform: uppercase;
    font-weight: bold;
}

#testimonials img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#testimonials h3 {
    font-size: 1.2em;
    margin-top: 15px;
    color: var(--dark-red-color);
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
}

#testimonials h3 span {
    font-size: 1em;
    color: var(--gray-color);
    text-transform: none;
    font-weight: normal;
}

.testimonial-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
    margin-left: 50px;
    text-align: center;
    color: var(--dark-gray-color);
}

.testimonial-text h4 {
    font-size: 1.6em;
    line-height: 1.5;
    text-transform: capitalize;
}

/* 07-a. slider styles */

.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 120px;
}

.slider-container i {
    font-size: 2em;
    color: var(--dark-red-color);
    cursor: pointer;
    transition: color 0.3s ease;
}

.slider-container i:hover {
    color: var(--red-color);
}

.slider-container p {
    font-size: 1.2em;
    color: var(--dark-gray-color);
    margin: 0 10px;
    margin-top: 25px;
}

/* 08. pogram section styles */

#program {
    padding: 50px 20px;
    background-color: white;
    text-align: center;
}

.program-images {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.program-images img {
    width: 50%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* 08-a. program text styles */

.program-text {
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
}
.program-text h2 {
    font-size: 1.19em;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 2px;
    margin-bottom: 20px;
    color: var(--dark-red-color);
}

.program-text h2 span {
    color: transparent;
    -webkit-text-stroke: 1px var(--dark-red-color);
    text-shadow: 1px 1px 2px rgba(230, 229, 229, 0.1);
}

.program-text p {
    font-size: 1.1em;
    margin: 40px 0;
    color: var(--dark-gray-color);
    line-height: 1.6;
    text-align: center;
}

.program-text p span {
    font-weight: bold;
    color: var(--red-color);
}

.program-text a {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--red-color);
    width: 100%;
    color: white;
    text-align: center;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
}

.program-text a:hover {
    background-color: var(--dark-red-color);
    text-decoration: none;
}

.program-description p {
    text-align: left;
    margin: 20px 0;
}

.program-description p span {
    font-weight: bold;
    color: var(--red-color);
}

/* 09. Creator section styles */

#creator {
    background-color: var(--dark-gray-color);
    padding: 20px;
    text-align: center;
    display: block;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#creator h2 {
    color: white;
    font-size: 2.3em;
    font-weight: bold;
}

#creator p {
    color: var(--dark-red-color);
    letter-spacing: 1px;
    margin-bottom: 20px;
}

/* 09-a. creator card styles */

.creator-box img {
    background-image: url(../images/Pattern-red-on-red.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    height: 200px;
}

/* 09-b. creator text style */

.creator-text {
    background-image: url('../images/bar-lg.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 140%;
    width: 100%;
}

.creator-text h3 {
    color: var(--dark-red-color);
    font-size: 1.5em;
    text-align: left;
    padding-left: 10px;
    font-weight: bold;
}


.creator-text p {
    letter-spacing: 0px;
    text-align: left;
    padding-left: 10px;
    font-size: 1.3em;
}

.view-portfolio {
    background-image: url('../images/bar-sm-red.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 82%;
    margin-top: -22px;
    padding: 5px;
    text-align: left;
}

.view-portfolio a {
    color: white;
    font-weight: bold;
    padding-left: 10px;
}

/* 10. portfolios style */

#portfolio, #portfolio1 {
    background-image: url(../images/Pattern-grey-on-white.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
}

#portfolio h2, #portfolio1 h2 {
    font-size: 3.5em;
    font-weight: bold;
    color: var(--red-color);
    text-transform: uppercase;
}

#portfolio p {
    color: var(--dark-gray-color);
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
}

#portfolio a {
    background-color: var(--red-color);
    color: white;
    padding: 15px;
    font-size: 1.5em;
    margin-top: 40px;
    margin-left: 35%;
    width: 30%;
    border-radius: 20px;
}

#portfolio a:hover {
    background-color: var(--dark-red-color);
}

/* 11. footer style */

footer {
    background-color: var(--red-color);
    color: white; 
    display: flex;
    flex-direction: column;
    box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.5);
    position: relative;
    padding: 20px;
}

footer::after {
    content: "";
    background-image: url('../images/fanshawe-nortstar-white.svg');
    background-repeat: no-repeat;
    background-position-x: -40%;
    background-size: contain;
    opacity: 0.5; 
}

footer .fanshawe{
    position: absolute;
    top: 10px;
    right: 50%;
    margin-left: -25%;
    color: var(--dark-gray-color);
}

footer p {
    padding: 15px 0px;
    font-size: 1em;
}

footer p span {
    font-weight: bold;
}

footer h2 {
    text-transform: uppercase;
    font-weight: bold;
}

footer a {
    margin: 10px;
}

footer li{
    text-transform: uppercase;
    font-size: 1.25em;
}

/* **********Portfolio page*************** */

/* 01. portfolio style */

#portfolio1 p {
    color: var(--dark-gray-color);
    font-size: 2.5em;
    line-height: 1;
}

/* 02. portfolio button style */

.protfolio-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.protfolio-button button {
    background-color: white;
    color: var(--gray-color);
    border: 2px solid var(--dark-gray-color);
    border-radius: 20px;
    padding: 20px;
    margin: 0px 10px;
}

.protfolio-button button:hover{
    border: 2px solid var(--dark-red-color);
    color: var(--dark-red-color);
}

.active {
    background-color: var(--dark-red-color) !important;
    border: 2px solid white !important;
    color: white !important;
}

/* 03. portfolio student list */

#student-list{
    background-color: var(--dark-gray-color);
    padding: 20px;
}

.student-card h2 {
    color: var(--red-color);
    font-size: 1.2em;
    font-weight: bold;
}

.student-card p {
    color: white;
}

.student-card img {
    border: 6px solid var(--red-color);
    border-radius: 20px;
    height: 200px;
    background-color: white;
    margin: 10px;
}

.student-card a {
    display: block;
    background-color: var(--red-color);
    color: white;
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
    text-transform: uppercase;
}